.navigation {
    background-color: #E95C72;
    width: 100%;
    position: sticky; top: 10px;
}
.inline-block {
    display: inline-block;
    vertical-align:top;
    padding: 3px 10px 0px 10px;
}
body {
  margin: 0;
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #1B8B8C;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #E95C72;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
}
/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
}

/* Portfolio */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #FFFFFF;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  "img4 content4"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
    grid-area: img4;
  }
.img1, .img2, .img3, .img4, .content1, .content2, .content3, .content4 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content4 {
    grid-area: content4;
  }

@media (max-width: 600px) {
    display: flex;
    flex-direction: column ;
    width: 100%;
    }
  #categoryGrid {
    grid-template-areas: ;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
  }
